5492_20201016170054_258527236.txt
{"code":1,"isDone":false,"toInsertArticleList":[{"createdTime":"2020-10-17 01:00:26","updatedTime":"2020-10-17 01:00:26","title":"How-to: Index Data from S3 via NiFi Using CDP Data Hubs","link":"https://blog.cloudera.com/?p=138877","description":"<h3><span style=\"font-weight: 400;\">About this Blog</span></h3>\n<p><a href=\"https://blog.cloudera.com/discover-and-explore-data-faster-with-the-cdp-dde-template/\"><span style=\"font-weight: 400;\">Data Discovery and Exploration (DDE)</span></a><span style=\"font-weight: 400;\"> was recently released in tech preview in Cloudera Data Platform in public cloud. In this blog we will go through the process of indexing data from S3 into Solr in DDE with the help of NiFi in Data Flow. The scenario is the same as it was in the previous </span><a href=\"https://blog.cloudera.com/how-to-index-data-from-s3-using-cdp-data-hub/\"><span style=\"font-weight: 400;\">blog</span></a><span style=\"font-weight: 400;\"> but the ingest pipeline differs. Spark as the ingest pipeline tool for Search (i.e. Solr) is most commonly used for batch indexing data residing in cloud storage, or if you want to do heavy transformations of the data as a pre-step before sending it to indexing for easy exploration. NiFi (as depicted in this blog) is used for real time and often voluminous incoming event streams that need to be explorable (e.g. logs, twitter feeds, file appends etc).</span></p>\n<p><span style=\"font-weight: 400;\">Our ambition is not to use any terminal or a single shell command to achieve this. We have a UI tool for every step we need to take. </span></p>\n<h3><span style=\"font-weight: 400;\">Assumptions</span></h3>\n<p><span style=\"font-weight: 400;\">The prerequisites to pull this feat are pretty similar to the ones in our previous blog post, minus the command line access:</span></p>\n<ul>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">You have a CDP account already and have power user or admin rights for the environment in which you plan to spin up the services.</span><span style=\"font-weight: 400;\"><br />\n</span><span style=\"font-weight: 400;\">If you do not have a CDP AWS account, please </span><a href=\"https://www.cloudera.com/contact-sales.html\"><span style=\"font-weight: 400;\">contact</span></a><span style=\"font-weight: 400;\"> your favorite Cloudera representative, or sign up for a </span><a href=\"https://www.cloudera.com/campaign/try-cdp-public-cloud.html?utm_medium=cldr-properties&#38;utm_source=blog&#38;keyplay=CDP&#38;utm_campaign=FY20-Q3_WS_Globl_TrialParent_2019-09-06&#38;cid=7012H000001OggG\"><span style=\"font-weight: 400;\">CDP trial here</span></a><span style=\"font-weight: 400;\">.</span></li>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">You have environments and identities mapped and configured. More explicitly, all you need is to have the mapping of the </span><a href=\"https://docs.cloudera.com/management-console/1.0/private-cloud-environments/topics/mc-edit-idb-mappings.html\"><span style=\"font-weight: 400;\">CDP User to an AWS Role</span></a><span style=\"font-weight: 400;\"> which grants access to the specific S3 bucket you want to read from (and write to).</span></li>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">You have a workload (FreeIPA) password </span><a href=\"https://docs.cloudera.com/data-hub/cloud/getting-started-tutorial/topics/dh-set-freeipa-password.html\"><span style=\"font-weight: 400;\">already set</span></a><span style=\"font-weight: 400;\">.</span></li>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">You have  </span><a href=\"https://blog.cloudera.com/discover-and-explore-data-faster-with-the-cdp-dde-template/\"><span style=\"font-weight: 400;\">DDE</span></a><span style=\"font-weight: 400;\"> and  </span><a href=\"https://docs.cloudera.com/cfm/2.0.1/index.html\"><span style=\"font-weight: 400;\">Flow Management</span></a><span style=\"font-weight: 400;\"> Data Hub clusters running in your environment. You can also find more information about </span><a href=\"https://docs.cloudera.com/data-hub/cloud/create-cluster-aws/topics/mc-create-cluster-from-template.html\"><span style=\"font-weight: 400;\">using templates in CDP Data Hub here</span></a><span style=\"font-weight: 400;\">.</span></li>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">You have AWS credentials to be able to access an S3 bucket from Nifi. </span><a href=\"https://docs.cloudera.com/management-console/cloud/credentials-aws/topics/mc-create-cloudbreak-credential-aws.html\"><span style=\"font-weight: 400;\">Here</span></a><span style=\"font-weight: 400;\"> is documentation on how to acquire AWS credentials and how to create a bucket and upload files to it.</span></li>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">You have a sample file in an S3 bucket that is accessible for your CDP user. </span>\n<ol>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">If you don’t have a sample file, </span><a href=\"https://github.com/apache/lucene-solr/blob/master/solr/example/films/films.csv\"><span style=\"font-weight: 400;\">here is a link</span></a><span style=\"font-weight: 400;\"> to the one we used. </span><span style=\"font-weight: 400;\"><br />\n</span><b>Note:</b><span style=\"font-weight: 400;\"> the workflow discussed in this blog was written with the linked ‘films.csv’ file in mind. If you use a different one, you might need to do things slightly differently, e.g. when creating the Solr collection)</span><span style=\"font-weight: 400;\"><br />\n</span><span style=\"font-weight: 400;\">Pro Tip for the novice user: to download a CSV file from GitHub, view it by clicking the </span><b>RAW</b><span style=\"font-weight: 400;\"> button and then use the </span><b>Save As</b><span style=\"font-weight: 400;\"> option in the browser </span><b>File</b><span style=\"font-weight: 400;\"> menu.</span></li>\n</ol>\n</li>\n</ul>\n<h3><span style=\"font-weight: 400;\">Workflow</span></h3>\n<p><span style=\"font-weight: 400;\">To replicate what we did, you need to do the following:</span></p>\n<ol>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">Create a collection using Hue.</span></li>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">Build a dataflow in NiFi.</span></li>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">Run the NiFi flow.</span></li>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">Check if everything went well NiFi logs and see the indexed data on Hue.</span></li>\n</ol>\n<h4><span style=\"font-weight: 400;\">Create a collection using Hue</span></h4>\n<p><span style=\"font-weight: 400;\">You can create a collection using the solrctrl CLI. Here we chose to use HUE in the DDE Data Hub cluster:</span></p>\n<p><span style=\"font-weight: 400;\">1.In the </span><b>Services</b><span style=\"font-weight: 400;\"> section of the DDE cluster details page, click the </span><b>Hue</b><span style=\"font-weight: 400;\"> shortcut.</span></p>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-138911\" src=\"https://blog.cloudera.com/wp-content/uploads/2020/10/Hue.jpg\" alt=\"\" width=\"1293\" height=\"123\" srcset=\"http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Hue.jpg 1293w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Hue-300x29.jpg 300w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Hue-1024x97.jpg 1024w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Hue-768x73.jpg 768w\" sizes=\"(max-width: 1293px) 100vw, 1293px\" /></p>\n<p><span style=\"font-weight: 400;\">2. On the Hue webUI select </span><b>Indexes</b><span style=\"font-weight: 400;\">&#62; </span><b>+ </b><span style=\"font-weight: 400;\">‘Create index’ &#62; from the </span><b>Type</b><span style=\"font-weight: 400;\"> drop down select ‘Manually’&#62; Click </span><b>Next.</b></p>\n<p><span style=\"font-weight: 400;\">3. Provide a collection </span><b>Name</b><span style=\"font-weight: 400;\"> under </span><b>Destination </b><span style=\"font-weight: 400;\">(in this example, we named it ‘solr-nifi-demo’).</span></p>\n<p><span style=\"font-weight: 400;\">4. Add the following  </span><b>Fields</b><span style=\"font-weight: 400;\">, using the </span><b>+ Add Field</b><span style=\"font-weight: 400;\"> button:</span></p>\n<table width=\"576\">\n<tbody>\n<tr>\n<td width=\"288\"><strong>Name</strong></td>\n<td width=\"288\"><strong>Type</strong></td>\n</tr>\n<tr>\n<td width=\"288\">name</td>\n<td width=\"288\">text_general</td>\n</tr>\n<tr>\n<td width=\"288\">initial_release_date</td>\n<td width=\"288\">date</td>\n</tr>\n</tbody>\n</table>\n<p><span style=\"font-weight: 400;\">5. Click </span><b>Submit</b><span style=\"font-weight: 400;\">.</span></p>\n<p><span style=\"font-weight: 400;\">6. To check that the collection has indeed been created, go to the Solr webUI by clicking the Solr Server shortcut on the DDE cluster details page.</span></p>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-138913\" src=\"https://blog.cloudera.com/wp-content/uploads/2020/10/Solr.jpg\" alt=\"\" width=\"1300\" height=\"128\" srcset=\"http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Solr.jpg 1300w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Solr-300x30.jpg 300w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Solr-1024x101.jpg 1024w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Solr-768x76.jpg 768w\" sizes=\"(max-width: 1300px) 100vw, 1300px\" /></p>\n<p><span style=\"font-weight: 400;\">7. Once there, you can either click on the Collections sidebar option or click </span><b>Select an option </b><span style=\"font-weight: 400;\">&#62; in the drop down you will find the collection you have just created (‘solr-nifi-demo’ in our example) &#62; click the collection &#62; click </span><b>Query</b><span style=\"font-weight: 400;\"> &#62; </span><b>Execute Query</b><span style=\"font-weight: 400;\">.</span><span style=\"font-weight: 400;\"><br />\n</span><span style=\"font-weight: 400;\">You should get something very similar:</span></p>\n<pre><span style=\"font-weight: 400;\">{</span>\n<span style=\"font-weight: 400;\">  \"responseHeader\":{</span>\n<span style=\"font-weight: 400;\">    \"zkConnected\":true,</span>\n<span style=\"font-weight: 400;\">    \"status\":0,</span>\n<span style=\"font-weight: 400;\">    \"QTime\":0,</span>\n<span style=\"font-weight: 400;\">    \"params\":{</span>\n<span style=\"font-weight: 400;\">      \"q\":\"*:*\",</span>\n<span style=\"font-weight: 400;\">      \"doAs\":\"&#60;querying user&#62;\",</span>\n<span style=\"font-weight: 400;\">      \"_forwardedCount\":\"1\",</span>\n<span style=\"font-weight: 400;\">      \"_\":\"1599835760799\"}},</span>\n<span style=\"font-weight: 400;\">  \"response\":{\"numFound\":0,\"start\":0,\"docs\":[]</span>\n<span style=\"font-weight: 400;\">  }}</span></pre>\n<p><span style=\"font-weight: 400;\">That is, you have successfully created an empty collection.</span></p>\n<h4><span style=\"font-weight: 400;\">Build a flow in NiFi</span></h4>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-138907\" src=\"https://blog.cloudera.com/wp-content/uploads/2020/10/NiFi.jpg\" alt=\"\" width=\"948\" height=\"88\" srcset=\"http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/NiFi.jpg 948w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/NiFi-300x28.jpg 300w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/NiFi-768x71.jpg 768w\" sizes=\"(max-width: 948px) 100vw, 948px\" /></p>\n<p><span style=\"font-weight: 400;\">Once you are done with collection creation, move over to Flow management Data Hub cluster.</span></p>\n<p><span style=\"font-weight: 400;\">In the </span><b>Services</b><span style=\"font-weight: 400;\"> section of the Flow Management cluster details page, click the </span><b>NiFi</b><span style=\"font-weight: 400;\"> shortcut.</span><span style=\"font-weight: 400;\"><br />\n</span></p>\n<p><span style=\"font-weight: 400;\">Add processors</span></p>\n<p><span style=\"font-weight: 400;\">Start adding processors by dragging the </span><span style=\"font-weight: 400;\">‘Processor’ button to the NiFi canvas.</span></p>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-138918\" src=\"https://blog.cloudera.com/wp-content/uploads/2020/10/addprocessor.gif\" alt=\"\" width=\"1880\" height=\"1131\" /></p>\n<p><span style=\"font-weight: 400;\">To build the example workflow we did, add the following processors:</span></p>\n<p>1. <a href=\"https://nifi.apache.org/docs/nifi-docs/components/org.apache.nifi/nifi-aws-nar/1.11.4/org.apache.nifi.processors.aws.s3.ListS3/index.html\"><span style=\"font-weight: 400;\">ListS3</span><span style=\"font-weight: 400;\"><br />\n</span></a><span style=\"font-weight: 400;\">This processor reads the content of the S3 bucket linked to your environment.</span></p>\n<p><span style=\"font-weight: 400;\">Configuration:</span></p>\n<table>\n<tbody>\n<tr>\n<td><b>Config name</b></td>\n<td><b>Config value</b></td>\n<td><b>Comments</b></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Name</span></td>\n<td><span style=\"font-weight: 400;\">Check for new Input</span></td>\n<td><span style=\"font-weight: 400;\">Optional</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Bucket</span></td>\n<td><span style=\"font-weight: 400;\">nifi-solr-demo</span></td>\n<td><span style=\"font-weight: 400;\">The S3 bucket where you uploaded your sample file</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Access Key ID</span></td>\n<td><span style=\"font-weight: 400;\">&#60;my access key&#62;</span></td>\n<td><span style=\"font-weight: 400;\">This value is generated for AWS users. You may generate and download a new one from </span><b>AWS Management Console </b><span style=\"font-weight: 400;\">&#62; </span><b>Services </b><span style=\"font-weight: 400;\">&#62; </span><b>IAM </b><span style=\"font-weight: 400;\">&#62; </span><b>Users</b><span style=\"font-weight: 400;\"> &#62; Select your user &#62; </span><b>Security credentials </b><span style=\"font-weight: 400;\">&#62; </span><b>Create access key</b><span style=\"font-weight: 400;\">.</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Secret Access Key</span></td>\n<td><span style=\"font-weight: 400;\">&#60;my secret access key&#62;</span></td>\n<td><span style=\"font-weight: 400;\">This value is generated for AWS users, together with the Access Key ID.</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Prefix</span></td>\n<td><span style=\"font-weight: 400;\">input-data/</span></td>\n<td><span style=\"font-weight: 400;\">The folder inside the bucket where the input CSV is located. Be careful of the “/” at the end. It is required to make this work.</span></td>\n</tr>\n</tbody>\n</table>\n<p><span style=\"font-weight: 400;\">You may need to fill in or change additional properties beside these such as region, scheduling etc. (Based on your preferences and your AWS configuration)</span><span style=\"font-weight: 400;\"><br />\n</span></p>\n<p><span style=\"font-weight: 400;\">2. </span><a href=\"https://nifi.apache.org/docs/nifi-docs/components/org.apache.nifi/nifi-standard-nar/1.11.4/org.apache.nifi.processors.standard.RouteOnAttribute/index.html\"><span style=\"font-weight: 400;\">RouteOnAttribute</span></a></p>\n<p><span style=\"font-weight: 400;\">This processor filters objects read in the previous step, and makes sure only CSV files reach the next processor.</span></p>\n<p><span style=\"font-weight: 400;\">Configuration:</span></p>\n<table>\n<tbody>\n<tr>\n<td><b>Config name</b></td>\n<td><b>Config value</b></td>\n<td><b>Comments</b></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Name</span></td>\n<td><span style=\"font-weight: 400;\">Filter CSVs</span></td>\n<td><span style=\"font-weight: 400;\">Optional</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">csv_file</span></td>\n<td><span style=\"font-weight: 400;\">${filename:toUpper():endsWith(&#8216;CSV&#8217;)}</span></td>\n<td><span style=\"font-weight: 400;\">This attribute is added with the ‘Add Property’ option. The routing will be based on this property. See in the connections section.</span></td>\n</tr>\n</tbody>\n</table>\n<p><span style=\"font-weight: 400;\">3.  </span><a href=\"https://nifi.apache.org/docs/nifi-docs/components/org.apache.nifi/nifi-aws-nar/1.11.4/org.apache.nifi.processors.aws.s3.FetchS3Object/index.html\"><span style=\"font-weight: 400;\">FetchS3Object</span></a></p>\n<p><span style=\"font-weight: 400;\">FetchS3 object reads the content of the CSV files it receives.</span></p>\n<p><span style=\"font-weight: 400;\">Configuration</span></p>\n<table>\n<tbody>\n<tr>\n<td><b>Config name</b></td>\n<td><b>Config value</b></td>\n<td><b>Comments</b></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Name</span></td>\n<td><span style=\"font-weight: 400;\">Fetch CSV from S3</span></td>\n<td><span style=\"font-weight: 400;\">Optional</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Bucket</span></td>\n<td><span style=\"font-weight: 400;\">nifi-solr-demo</span></td>\n<td><span style=\"font-weight: 400;\">The same as provided for the ListS3 processor</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Object Key</span></td>\n<td><span style=\"font-weight: 400;\">${filename}</span></td>\n<td><span style=\"font-weight: 400;\">It’s coming from the Flow File</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Access Key ID</span></td>\n<td><span style=\"font-weight: 400;\">&#60;My Access Key Id&#62;</span></td>\n<td><span style=\"font-weight: 400;\">The same as provided for the ListS3 processor</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Secret Access Key</span></td>\n<td><span style=\"font-weight: 400;\">&#60;My Secret Access Key&#62;</span></td>\n<td><span style=\"font-weight: 400;\">The same as provided for the ListS3 processor</span></td>\n</tr>\n</tbody>\n</table>\n<p><span style=\"font-weight: 400;\">The values for Bucket, Access Key, and Secret Key are the same as in case of the List3 processor. The Object key is autofilled by NiFi, It comes as an input from the previous processors.</span></p>\n<p>4. <a href=\"https://nifi.apache.org/docs/nifi-docs/components/org.apache.nifi/nifi-solr-nar/1.11.4/org.apache.nifi.processors.solr.PutSolrContentStream/\"><span style=\"font-weight: 400;\">PutSolrContentStream</span></a></p>\n<p><span style=\"font-weight: 400;\">Configuration</span></p>\n<table>\n<tbody>\n<tr>\n<td><b>Config name</b></td>\n<td><b>Config value</b></td>\n<td><b>Comments</b></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Name</span></td>\n<td><span style=\"font-weight: 400;\">Index Data to DDE</span></td>\n<td><span style=\"font-weight: 400;\">Optional</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Solr Type</span></td>\n<td><span style=\"font-weight: 400;\">Cloud</span></td>\n<td><span style=\"font-weight: 400;\">We will provide ZK ensemble as Solr location so this is required to be set to Cloud.</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Solr Location</span></td>\n<td><span style=\"font-weight: 400;\">&#60;ZK_ENSEMBLE&#62;</span></td>\n<td><span style=\"font-weight: 400;\">You find this value on the </span><b>Dashboard </b><span style=\"font-weight: 400;\">of the </span><b>Solr webUI, </b><span style=\"font-weight: 400;\">as the </span><b>zkHost </b><span style=\"font-weight: 400;\">parameter value.</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Collection</span></td>\n<td><span style=\"font-weight: 400;\">solr-nifi-demo-collection</span></td>\n<td><span style=\"font-weight: 400;\">Here we use the collection which has been created above. If you specified a different name there then put the same here.</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Content Stream Path</span></td>\n<td><span style=\"font-weight: 400;\">/update</span></td>\n<td><span style=\"font-weight: 400;\">Be careful of the leading “/”.</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Content-Type</span></td>\n<td><span style=\"font-weight: 400;\">application/csv</span></td>\n<td><span style=\"font-weight: 400;\">Any content type that Solr can process may be provided here. In this example we use CSV.</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Kerberos principal</span></td>\n<td><span style=\"font-weight: 400;\">&#60;my kerberos username&#62;</span></td>\n<td><span style=\"font-weight: 400;\">Since we use direct URL to Solr, Kerberos authentication needs to be used here.</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">Kerberos password</span></td>\n<td><span style=\"font-weight: 400;\">&#60;my kerberos password&#62;</span></td>\n<td><span style=\"font-weight: 400;\">Password for the Kerberos principal.</span></td>\n</tr>\n<tr>\n<td><span style=\"font-weight: 400;\">SSL Context Service</span></td>\n<td><span style=\"font-weight: 400;\">Default NiFi SSL Context Service</span></td>\n<td><span style=\"font-weight: 400;\">Just choose it from the drop down. The service is created by default from the Workflow Management template.</span></td>\n</tr>\n</tbody>\n</table>\n<p>5. <a href=\"https://nifi.apache.org/docs/nifi-docs/components/org.apache.nifi/nifi-standard-nar/1.11.4/org.apache.nifi.processors.standard.LogMessage/\"><span style=\"font-weight: 400;\">LogMessage</span></a><span style=\"font-weight: 400;\"> (x4)</span></p>\n<p><span style=\"font-weight: 400;\">We created four LogMessage processors too to track if everything happens as expected.</span></p>\n<p><span style=\"font-weight: 400;\">a) Log Check</span></p>\n<table>\n<tbody>\n<tr>\n<td><span style=\"font-weight: 400;\">Log message</span></td>\n<td><span style=\"font-weight: 400;\">Object checked out: ${filename}</span></td>\n</tr>\n</tbody>\n</table>\n<p><span style=\"font-weight: 400;\">b) Log Ignore</span></p>\n<table>\n<tbody>\n<tr>\n<td><span style=\"font-weight: 400;\">Log message</span></td>\n<td><span style=\"font-weight: 400;\">File is not csv. Ignored: ${filename}</span></td>\n</tr>\n</tbody>\n</table>\n<p><span style=\"font-weight: 400;\">c) Log Fetch</span></p>\n<table>\n<tbody>\n<tr>\n<td><span style=\"font-weight: 400;\">Log message</span></td>\n<td><span style=\"font-weight: 400;\">Object fetched: ${filename}</span></td>\n</tr>\n</tbody>\n</table>\n<p><span style=\"font-weight: 400;\">d) Log Index</span></p>\n<table>\n<tbody>\n<tr>\n<td><span style=\"font-weight: 400;\">Log message</span></td>\n<td><span style=\"font-weight: 400;\">Data indexed from: ${filename}</span></td>\n</tr>\n</tbody>\n</table>\n<p><span style=\"font-weight: 400;\">6. In this workflow, the log processors are the dead ends, so pick the “Automatically Terminate Relationships” option on them like this:</span></p>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-138882\" src=\"https://blog.cloudera.com/wp-content/uploads/2020/10/Processor.gif\" alt=\"\" width=\"1880\" height=\"1131\" /></p>\n<p><span style=\"font-weight: 400;\">In this example, all properties not mentioned above were left with their default values during processor setup. Depending on your AWS and environment setup, you may need to set things differently. </span></p>\n<p><span style=\"font-weight: 400;\">After setting up the processors you shall see something like this:</span></p>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-138909\" src=\"https://blog.cloudera.com/wp-content/uploads/2020/10/allprocessors.png\" alt=\"\" width=\"1412\" height=\"1096\" srcset=\"http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/allprocessors.png 1412w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/allprocessors-300x233.png 300w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/allprocessors-1024x795.png 1024w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/allprocessors-768x596.png 768w\" sizes=\"(max-width: 1412px) 100vw, 1412px\" /></p>\n<p><span style=\"font-weight: 400;\">Create connections</span></p>\n<p><span style=\"font-weight: 400;\">Use your mouse to create flow between the processors.</span></p>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-138884\" src=\"https://blog.cloudera.com/wp-content/uploads/2020/10/Gif.gif\" alt=\"\" width=\"1880\" height=\"1131\" /></p>\n<p><span style=\"font-weight: 400;\">The connections between the boxes are the successful paths, except for the RouteOnAttribute processor: It has the csv_file and the unmatched routes. The FetchS3Object and the PutSolrContentStream processors have failure paths as well: direct them back to themselves, creating a retry mechanism on failure. This may not be the most sophisticated, but it serves its purpose. </span></p>\n<p><span style=\"font-weight: 400;\">This is what your flow will look like after setting the connections:</span></p>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-138914\" src=\"https://blog.cloudera.com/wp-content/uploads/2020/10/Google-Keep.png\" alt=\"\" width=\"1600\" height=\"911\" srcset=\"http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Google-Keep.png 1600w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Google-Keep-300x171.png 300w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Google-Keep-1024x583.png 1024w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Google-Keep-768x437.png 768w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Google-Keep-1536x875.png 1536w\" sizes=\"(max-width: 1600px) 100vw, 1600px\" /></p>\n<h3><span style=\"font-weight: 400;\">Run the NiFi Flow</span></h3>\n<p><span style=\"font-weight: 400;\">You may start the processors one by one, or you may start the entire flow at once. If no processor is selected, by clicking the </span><span style=\"font-weight: 400;\">“Play” icon on the left side in the NiFi Operate Palette starts the flow. If you did the setup exactly as it is in the beginning of this post, two object are almost instantly checked out (depending, of course, on your scheduling settings if you set those too): </span></p>\n<ol>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">input-data/ &#8211; The input folder also matches with the prefix provided for the ListS3 processor. But no worries, as in the next step it will be filtered out so it won’t go further as it’s not a CSV file.</span></li>\n<li style=\"font-weight: 400;\"><span style=\"font-weight: 400;\">films.csv &#8211; this goes to our collection if you did everything right.</span></li>\n</ol>\n<p><span style=\"font-weight: 400;\">After starting your flow the ListS3 command based on the scheduling polls your S3 bucket and searches for changes based on the “Last modified” timestamp. So if you put something new in your input-data folder it will be automatically processed. Also if a file changes it’s rechecked too.</span></p>\n<h3><span style=\"font-weight: 400;\">Check the results</span></h3>\n<p><span style=\"font-weight: 400;\">After the CSV has been processed, you can check your logs and collection for the expected result.</span></p>\n<h3><span style=\"font-weight: 400;\">Logs</span></h3>\n<p><span style=\"font-weight: 400;\">1. In the </span><b>Services</b><span style=\"font-weight: 400;\"> section of the Flow Management cluster details page, click the </span><b>Cloudera Manager</b><span style=\"font-weight: 400;\"> shortcut.</span><span style=\"font-weight: 400;\"><br />\n</span></p>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-138912\" src=\"https://blog.cloudera.com/wp-content/uploads/2020/10/Cloudera-Manager.jpg\" alt=\"\" width=\"1061\" height=\"105\" srcset=\"http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Cloudera-Manager.jpg 1061w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Cloudera-Manager-300x30.jpg 300w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Cloudera-Manager-1024x101.jpg 1024w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Cloudera-Manager-768x76.jpg 768w\" sizes=\"(max-width: 1061px) 100vw, 1061px\" /></p>\n<p><span style=\"font-weight: 400;\">2. Click on the name of your compute cluster &#62;Click </span><b>NiFi</b><span style=\"font-weight: 400;\"> in the </span><b>Compute  Cluster </b><span style=\"font-weight: 400;\">box. &#62; Under </span><b>Status Summary </b><span style=\"font-weight: 400;\"> click </span><b>NiFi Node </b><span style=\"font-weight: 400;\"> &#62; Click on one of the nodes and click </span><b>Log Files </b><span style=\"font-weight: 400;\">in the top menu bar. &#62; Select </span><b>Role Log File. </b><span style=\"font-weight: 400;\">If everything went well you will see similar log messages:</span><span style=\"font-weight: 400;\"><br />\n</span></p>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-138915\" src=\"https://blog.cloudera.com/wp-content/uploads/2020/10/Log-Message.png\" alt=\"Log Message\" width=\"1600\" height=\"167\" srcset=\"http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Log-Message.png 1600w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Log-Message-300x31.png 300w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Log-Message-1024x107.png 1024w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Log-Message-768x80.png 768w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/Log-Message-1536x160.png 1536w\" sizes=\"(max-width: 1600px) 100vw, 1600px\" /></p>\n<h3><span style=\"font-weight: 400;\">Indexed data</span></h3>\n<p><span style=\"font-weight: 400;\">Indexed data appears in our collection.</span></p>\n<p><span style=\"font-weight: 400;\">Here is what you should see on Hue: </span></p>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-138916\" src=\"https://blog.cloudera.com/wp-content/uploads/2020/10/See-on-Hue.png\" alt=\"\" width=\"1600\" height=\"894\" srcset=\"http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/See-on-Hue.png 1600w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/See-on-Hue-300x168.png 300w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/See-on-Hue-1024x572.png 1024w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/See-on-Hue-768x429.png 768w, http://ndu0e1pobsf1dobtvj5nls3q.wpengine.netdna-cdn.com/wp-content/uploads/2020/10/See-on-Hue-1536x858.png 1536w\" sizes=\"(max-width: 1600px) 100vw, 1600px\" /></p>\n<h3><span style=\"font-weight: 400;\">Summary</span></h3>\n<p><span style=\"font-weight: 400;\">In this post, we demonstrated how Cloudera Data Platform components can collaborate with each other, while still being resource isolated and managed separately. We created a Solr collection via Hue, built a data ingest workflow in NiFi to connect our S3 bucket with Solr, and in the end, we have the indexed data ready for searching. There is no terminal magic in this scenario, we’ve only used comfortable UI features. Having our indexing flow and our Solr sitting in separate clusters, we have more options in areas like scalability, the flexibility of routing, and decorating data pipelines for multiple consuming workloads, and yet with consistent security and governance across. Remember, this was only one simple example. This basic setup, however, offers endless opportunities to implement way more complex solutions. Feel free to </span><a href=\"https://www.cloudera.com/campaign/try-cdp-public-cloud.html?utm_medium=cldr-properties&#38;utm_source=blog&#38;keyplay=CDP&#38;utm_campaign=FY20-Q3_WS_Globl_TrialParent_2019-09-06&#38;cid=7012H000001OggG\"><span style=\"font-weight: 400;\">try Data Discovery and Exploration in CDP on your own</span></a><span style=\"font-weight: 400;\"> and play around with more advanced pipelines and let us know how it goes! Alternatively, </span><a href=\"https://www.cloudera.com/contact-sales.html\"><span style=\"font-weight: 400;\">contact us</span></a><span style=\"font-weight: 400;\"> for more information.</span></p>\n<p>The post <a rel=\"nofollow\" href=\"https://blog.cloudera.com/how-to-index-data-from-s3-via-nifi-using-cdp-data-hubs/\">How-to: Index Data from S3 via NiFi Using CDP Data Hubs</a> appeared first on <a rel=\"nofollow\" href=\"https://blog.cloudera.com\">Cloudera Blog</a>.</p>\n","descriptionType":"html","publishedDate":"Thu, 15 Oct 2020 15:00:52 +0000","feedId":5492,"bgimg":"https://blog.cloudera.com/wp-content/uploads/2020/10/Hue.jpg","linkMd5":"a456b33292630ea42b87a0eea7ed1410","bgimgJsdelivr":"https://cdn.jsdelivr.net/gh/myreaderx19/cdn59@2020_5/2020/10/16/17-00-26-914_25699597aa35eb87.webp","destWidth":1293,"destHeight":123,"sourceBytes":11364,"destBytes":10816,"author":"Eva Nahari","articleImgCdnMap":{"https://blog.cloudera.com/wp-content/uploads/2020/10/Hue.jpg":"https://cdn.jsdelivr.net/gh/myreaderx19/cdn59@2020_5/2020/10/16/17-00-26-914_25699597aa35eb87.webp","https://blog.cloudera.com/wp-content/uploads/2020/10/Solr.jpg":"https://cdn.jsdelivr.net/gh/myreaderx6/cdn80@2020_3/2020/10/16/17-00-27-890_841e79e86a5f4c73.webp","https://blog.cloudera.com/wp-content/uploads/2020/10/NiFi.jpg":"https://cdn.jsdelivr.net/gh/myreaderx24/cdn71@2020_4/2020/10/16/17-00-27-937_2522fae9768c77c8.webp","https://blog.cloudera.com/wp-content/uploads/2020/10/addprocessor.gif":"https://cdn.jsdelivr.net/gh/myreaderx27/cdn64@2020_5/2020/10/16/17-00-43-046_1a78408fcc2d3edb.webp","https://blog.cloudera.com/wp-content/uploads/2020/10/Processor.gif":null,"https://blog.cloudera.com/wp-content/uploads/2020/10/allprocessors.png":null,"https://blog.cloudera.com/wp-content/uploads/2020/10/Gif.gif":"https://cdn.jsdelivr.net/gh/myreaderx29/cdn68@2020_5/2020/10/16/17-00-28-617_f209cbbf23eb1675.webp","https://blog.cloudera.com/wp-content/uploads/2020/10/Google-Keep.png":"https://cdn.jsdelivr.net/gh/myreaderx33/cdn95@2020_6/2020/10/16/17-00-28-817_51bc5c903aae89b9.webp","https://blog.cloudera.com/wp-content/uploads/2020/10/Cloudera-Manager.jpg":"https://cdn.jsdelivr.net/gh/myreaderx30/cdn91@2020_5/2020/10/16/17-00-27-897_758b0d5881841f47.webp","https://blog.cloudera.com/wp-content/uploads/2020/10/Log-Message.png":"https://cdn.jsdelivr.net/gh/myreaderx11/cdn69@2020_2/2020/10/16/17-00-27-906_bb2662fca74f0a17.webp","https://blog.cloudera.com/wp-content/uploads/2020/10/See-on-Hue.png":"https://cdn.jsdelivr.net/gh/myreaderx2/cdn99@2020_2/2020/10/16/17-00-28-644_b9a91b681848a36c.webp"},"publishedOrCreatedDate":1602867626110}],"record":{"createdTime":"2020-10-17 01:00:26","updatedTime":"2020-10-17 01:00:26","feedId":5492,"fetchDate":"Fri, 16 Oct 2020 17:00:26 +0000","fetchMs":64,"handleMs":31,"totalMs":28548,"newArticles":0,"totalArticles":10,"status":1,"type":0,"ip":"cf4f74a178f607b72fe1e5b4c372768e","hostName":"us-012*","requestId":"8aed5347723b49ef8cc953223723994e_5492","contentType":"application/rss+xml; charset=UTF-8","totalBytes":2138268,"bgimgsTotal":1,"bgimgsGithubTotal":1,"articlesImgsTotal":11,"articlesImgsGithubTotal":9,"successGithubMap":{"myreaderx27":1,"myreaderx6":1,"myreaderx11":1,"myreaderx33":1,"myreaderx2":1,"myreaderx24":1,"myreaderx30":1,"myreaderx29":1,"myreaderx19":1},"failGithubMap":{"myreaderx14":1,"myreaderx23":1}},"feed":{"createdTime":"2020-08-25 04:30:10","updatedTime":"2020-09-01 11:12:02","id":5492,"name":"Cloudera Blog","url":"http://blog.cloudera.com/feed/","subscriber":null,"website":null,"icon":"https://blog.cloudera.com/favicon.ico","icon_jsdelivr":"https://cdn.jsdelivr.net/gh/myreaderx61/cdn67@2020_2/2020/09/01/03-11-21-310_452df8a82b35ade5.jpg","description":"","weekly":null,"link":null},"noPictureArticleList":[{"createdTime":"2020-10-17 01:00:54","updatedTime":"2020-10-17 01:00:54","id":null,"feedId":5492,"linkMd5":"a456b33292630ea42b87a0eea7ed1410"}],"tmpCommonImgCdnBytes":10816,"tmpBodyImgCdnBytes":2127452,"tmpBgImgCdnBytes":0,"extra4":{"start":1602867625977,"total":0,"statList":[{"spend":103,"msg":"获取xml内容"},{"spend":31,"msg":"解释文章"},{"spend":0,"msg":"上传封面图到cdn"},{"spend":3,"msg":"修正封面图上传失败重新上传"},{"spend":26812,"msg":"正文链接上传到cdn"}]},"extra5":11,"extra6":11,"extra7ImgCdnFailResultVector":[{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/allprocessors.png","sourceStatusCode":200,"destWidth":1412,"destHeight":1096,"sourceBytes":60145,"destBytes":117022,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":274,"convertSpendMs":49,"createdTime":"2020-10-17 01:00:27","host":"us-53*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410","rawMap":{"githubUrl":"https://api.github.com/repos/myreaderx23/cdn73/contents/2020/10/16/17-00-27-962_c383ad4797acc9d1.webp","resp":{"code":403,"msg":"Forbidden","body":"{\n  \"message\": \"API rate limit exceeded for user ID 69189253.\",\n  \"documentation_url\": \"https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting\"\n}\n","headerMap":{"access-control-allow-origin":["*"],"access-control-expose-headers":["ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, Deprecation, Sunset"],"content-security-policy":["default-src 'none'"],"content-type":["application/json; charset=utf-8"],"date":["Fri, 16 Oct 2020 17:00:28 GMT"],"referrer-policy":["origin-when-cross-origin, strict-origin-when-cross-origin"],"server":["GitHub.com"],"status":["403 Forbidden"],"strict-transport-security":["max-age=31536000; includeSubdomains; preload"],"transfer-encoding":["chunked"],"vary":["Accept-Encoding, Accept, X-Requested-With"],"x-accepted-oauth-scopes":["repo"],"x-content-type-options":["nosniff"],"x-frame-options":["deny"],"x-github-media-type":["github.v3; format=json"],"x-github-request-id":["89A0:2DF8:1843CFC:2A572DE:5F89D1A1"],"x-oauth-scopes":["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages, repo, user, workflow, write:discussion, write:packages"],"x-ratelimit-limit":["60"],"x-ratelimit-remaining":["0"],"x-ratelimit-reset":["1602870262"],"x-ratelimit-used":["62"],"x-xss-protection":["1; mode=block"]},"exceptionMsg":"Unexpected code 403,url is : https://api.github.com/repos/myreaderx23/cdn73/contents/2020/10/16/17-00-27-962_c383ad4797acc9d1.webp","historyStatusCode":[],"spendMs":54},"base64UserPassword":null,"token":"df0b9******************************93a6e"},"githubUser":"myreaderx23","githubHttpCode":403,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"58.7 KB","destSize":"114.3 KB","compressRate":"194.6%"},{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/allprocessors.png","sourceStatusCode":200,"destWidth":1412,"destHeight":1096,"sourceBytes":60145,"destBytes":117022,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":227,"convertSpendMs":52,"createdTime":"2020-10-17 01:00:28","host":"us-53*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410","rawMap":{"githubUrl":"https://api.github.com/repos/myreaderx23/cdn73/contents/2020/10/16/17-00-28-207_c383ad4797acc9d1.webp","resp":{"code":403,"msg":"Forbidden","body":"{\n  \"message\": \"API rate limit exceeded for user ID 69189253.\",\n  \"documentation_url\": \"https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting\"\n}\n","headerMap":{"access-control-allow-origin":["*"],"access-control-expose-headers":["ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, Deprecation, Sunset"],"content-security-policy":["default-src 'none'"],"content-type":["application/json; charset=utf-8"],"date":["Fri, 16 Oct 2020 17:00:28 GMT"],"referrer-policy":["origin-when-cross-origin, strict-origin-when-cross-origin"],"server":["GitHub.com"],"status":["403 Forbidden"],"strict-transport-security":["max-age=31536000; includeSubdomains; preload"],"transfer-encoding":["chunked"],"vary":["Accept-Encoding, Accept, X-Requested-With"],"x-accepted-oauth-scopes":["repo"],"x-content-type-options":["nosniff"],"x-frame-options":["deny"],"x-github-media-type":["github.v3; format=json"],"x-github-request-id":["89A0:2DF8:1843D23:2A57D1E:5F89D1AC"],"x-oauth-scopes":["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages, repo, user, workflow, write:discussion, write:packages"],"x-ratelimit-limit":["60"],"x-ratelimit-remaining":["0"],"x-ratelimit-reset":["1602870262"],"x-ratelimit-used":["62"],"x-xss-protection":["1; mode=block"]},"exceptionMsg":"Unexpected code 403,url is : https://api.github.com/repos/myreaderx23/cdn73/contents/2020/10/16/17-00-28-207_c383ad4797acc9d1.webp","historyStatusCode":[],"spendMs":44},"base64UserPassword":null,"token":"df0b9******************************93a6e"},"githubUser":"myreaderx23","githubHttpCode":403,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"58.7 KB","destSize":"114.3 KB","compressRate":"194.6%"},{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/Processor.gif","sourceStatusCode":200,"destWidth":1880,"destHeight":1131,"sourceBytes":878828,"destBytes":876490,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":16610,"convertSpendMs":16268,"createdTime":"2020-10-17 01:00:27","host":"us-021*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410","rawMap":{"githubUrl":"https://api.github.com/repos/myreaderx14/cdn87/contents/2020/10/16/17-00-44-225_48855b438fdc53ac.webp","resp":{"code":403,"msg":"Forbidden","body":"{\n  \"message\": \"API rate limit exceeded for user ID 68584859.\",\n  \"documentation_url\": \"https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting\"\n}\n","headerMap":{"access-control-allow-origin":["*"],"access-control-expose-headers":["ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, Deprecation, Sunset"],"content-security-policy":["default-src 'none'"],"content-type":["application/json; charset=utf-8"],"date":["Fri, 16 Oct 2020 17:00:44 GMT"],"referrer-policy":["origin-when-cross-origin, strict-origin-when-cross-origin"],"server":["GitHub.com"],"status":["403 Forbidden"],"strict-transport-security":["max-age=31536000; includeSubdomains; preload"],"transfer-encoding":["chunked"],"vary":["Accept-Encoding, Accept, X-Requested-With"],"x-accepted-oauth-scopes":["repo"],"x-content-type-options":["nosniff"],"x-frame-options":["deny"],"x-github-media-type":["github.v3; format=json"],"x-github-request-id":["8DBA:7DC8:8A96EF:14322DC:5F89D1BA"],"x-oauth-scopes":["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages, repo, user, workflow, write:discussion, write:packages"],"x-ratelimit-limit":["60"],"x-ratelimit-remaining":["0"],"x-ratelimit-reset":["1602870249"],"x-ratelimit-used":["60"],"x-xss-protection":["1; mode=block"]},"exceptionMsg":"Unexpected code 403,url is : https://api.github.com/repos/myreaderx14/cdn87/contents/2020/10/16/17-00-44-225_48855b438fdc53ac.webp","historyStatusCode":[],"spendMs":120},"base64UserPassword":null,"token":"6b67d******************************91b08"},"githubUser":"myreaderx14","githubHttpCode":403,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"858.2 KB","destSize":"855.9 KB","compressRate":"99.7%"},{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/Processor.gif","sourceStatusCode":200,"destWidth":1880,"destHeight":1131,"sourceBytes":878828,"destBytes":876490,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":10148,"convertSpendMs":9885,"createdTime":"2020-10-17 01:00:44","host":"us-53*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410","rawMap":{"githubUrl":"https://api.github.com/repos/myreaderx14/cdn87/contents/2020/10/16/17-00-54-439_48855b438fdc53ac.webp","resp":{"code":403,"msg":"Forbidden","body":"{\n  \"message\": \"API rate limit exceeded for user ID 68584859.\",\n  \"documentation_url\": \"https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting\"\n}\n","headerMap":{"access-control-allow-origin":["*"],"access-control-expose-headers":["ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, Deprecation, Sunset"],"content-security-policy":["default-src 'none'"],"content-type":["application/json; charset=utf-8"],"date":["Fri, 16 Oct 2020 17:00:54 GMT"],"referrer-policy":["origin-when-cross-origin, strict-origin-when-cross-origin"],"server":["GitHub.com"],"status":["403 Forbidden"],"strict-transport-security":["max-age=31536000; includeSubdomains; preload"],"transfer-encoding":["chunked"],"vary":["Accept-Encoding, Accept, X-Requested-With"],"x-accepted-oauth-scopes":["repo"],"x-content-type-options":["nosniff"],"x-frame-options":["deny"],"x-github-media-type":["github.v3; format=json"],"x-github-request-id":["89A0:2DF8:1844E07:2A59546:5F89D1C3"],"x-oauth-scopes":["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages, repo, user, workflow, write:discussion, write:packages"],"x-ratelimit-limit":["60"],"x-ratelimit-remaining":["0"],"x-ratelimit-reset":["1602870249"],"x-ratelimit-used":["60"],"x-xss-protection":["1; mode=block"]},"exceptionMsg":"Unexpected code 403,url is : https://api.github.com/repos/myreaderx14/cdn87/contents/2020/10/16/17-00-54-439_48855b438fdc53ac.webp","historyStatusCode":[],"spendMs":73},"base64UserPassword":null,"token":"6b67d******************************91b08"},"githubUser":"myreaderx14","githubHttpCode":403,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"858.2 KB","destSize":"855.9 KB","compressRate":"99.7%"}],"extra10_invalidATagHrefValue":{},"extra111_proxyServerAndStatMap":{"http://us-032.herokuapp.com/":{"failCount":0,"successCount":1,"resultList":[200]},"http://us-53.herokuapp.com/":{"failCount":0,"successCount":3,"resultList":[200,200,200]},"http://us-031.herokuapp.com/":{"failCount":0,"successCount":1,"resultList":[200]},"http://europe21.herokuapp.com/":{"failCount":0,"successCount":1,"resultList":[200]},"http://us-021.herokuapp.com/":{"failCount":0,"successCount":1,"resultList":[200]},"http://us-033.herokuapp.com/":{"failCount":0,"successCount":1,"resultList":[200]},"http://europe-59.herokuapp.com/":{"failCount":0,"successCount":1,"resultList":[200]},"http://us-008.herokuapp.com/":{"failCount":0,"successCount":1,"resultList":[200]},"http://us-52.herokuapp.com/":{"failCount":0,"successCount":1,"resultList":[200]},"http://us-029.herokuapp.com/":{"failCount":0,"successCount":1,"resultList":[200]}},"extra12ImgCdnSuccessResultVector":[{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/Hue.jpg","sourceStatusCode":200,"destWidth":1293,"destHeight":123,"fixedGithubDest":"https://cdn.jsdelivr.net/gh/myreaderx19/cdn59@2020_5/2020/10/16/17-00-26-914_25699597aa35eb87.webp","sourceBytes":11364,"destBytes":10816,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":907,"convertSpendMs":10,"createdTime":"2020-10-17 01:00:26","host":"us-51*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410,a456b33292630ea42b87a0eea7ed1410","githubUser":"myreaderx19","githubHttpCode":201,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"11.1 KB","destSize":"10.6 KB","compressRate":"95.2%"},{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/Solr.jpg","sourceStatusCode":200,"destWidth":1300,"destHeight":128,"fixedGithubDest":"https://cdn.jsdelivr.net/gh/myreaderx6/cdn80@2020_3/2020/10/16/17-00-27-890_841e79e86a5f4c73.webp","sourceBytes":9755,"destBytes":11812,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":896,"convertSpendMs":8,"createdTime":"2020-10-17 01:00:27","host":"us-031*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410","githubUser":"myreaderx6","githubHttpCode":201,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"9.5 KB","destSize":"11.5 KB","compressRate":"121.1%"},{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/Log-Message.png","sourceStatusCode":200,"destWidth":1600,"destHeight":167,"fixedGithubDest":"https://cdn.jsdelivr.net/gh/myreaderx11/cdn69@2020_2/2020/10/16/17-00-27-906_bb2662fca74f0a17.webp","sourceBytes":17815,"destBytes":35536,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":949,"convertSpendMs":22,"createdTime":"2020-10-17 01:00:27","host":"us-032*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410","githubUser":"myreaderx11","githubHttpCode":201,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"17.4 KB","destSize":"34.7 KB","compressRate":"199.5%"},{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/NiFi.jpg","sourceStatusCode":200,"destWidth":948,"destHeight":88,"fixedGithubDest":"https://cdn.jsdelivr.net/gh/myreaderx24/cdn71@2020_4/2020/10/16/17-00-27-937_2522fae9768c77c8.webp","sourceBytes":4773,"destBytes":4118,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":967,"convertSpendMs":16,"createdTime":"2020-10-17 01:00:27","host":"us-033*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410","githubUser":"myreaderx24","githubHttpCode":201,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"4.7 KB","destSize":"4 KB","compressRate":"86.3%"},{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/Cloudera-Manager.jpg","sourceStatusCode":200,"destWidth":1061,"destHeight":105,"fixedGithubDest":"https://cdn.jsdelivr.net/gh/myreaderx30/cdn91@2020_5/2020/10/16/17-00-27-897_758b0d5881841f47.webp","sourceBytes":6322,"destBytes":4470,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":1311,"convertSpendMs":9,"createdTime":"2020-10-17 01:00:27","host":"us-008*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410","githubUser":"myreaderx30","githubHttpCode":201,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"6.2 KB","destSize":"4.4 KB","compressRate":"70.7%"},{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/Gif.gif","sourceStatusCode":200,"destWidth":1880,"destHeight":1131,"fixedGithubDest":"https://cdn.jsdelivr.net/gh/myreaderx29/cdn68@2020_5/2020/10/16/17-00-28-617_f209cbbf23eb1675.webp","sourceBytes":59502,"destBytes":50148,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":1816,"convertSpendMs":708,"createdTime":"2020-10-17 01:00:27","host":"us-52*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410","githubUser":"myreaderx29","githubHttpCode":201,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"58.1 KB","destSize":"49 KB","compressRate":"84.3%"},{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/See-on-Hue.png","sourceStatusCode":200,"destWidth":1600,"destHeight":894,"fixedGithubDest":"https://cdn.jsdelivr.net/gh/myreaderx2/cdn99@2020_2/2020/10/16/17-00-28-644_b9a91b681848a36c.webp","sourceBytes":45137,"destBytes":55722,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":1911,"convertSpendMs":36,"createdTime":"2020-10-17 01:00:27","host":"europe-59*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410","githubUser":"myreaderx2","githubHttpCode":201,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"44.1 KB","destSize":"54.4 KB","compressRate":"123.5%"},{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/Google-Keep.png","sourceStatusCode":200,"destWidth":1600,"destHeight":911,"fixedGithubDest":"https://cdn.jsdelivr.net/gh/myreaderx33/cdn95@2020_6/2020/10/16/17-00-28-817_51bc5c903aae89b9.webp","sourceBytes":115848,"destBytes":121404,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":2346,"convertSpendMs":82,"createdTime":"2020-10-17 01:00:27","host":"europe21*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410","githubUser":"myreaderx33","githubHttpCode":201,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"113.1 KB","destSize":"118.6 KB","compressRate":"104.8%"},{"code":1,"isDone":false,"source":"https://blog.cloudera.com/wp-content/uploads/2020/10/addprocessor.gif","sourceStatusCode":200,"destWidth":1880,"destHeight":1131,"fixedGithubDest":"https://cdn.jsdelivr.net/gh/myreaderx27/cdn64@2020_5/2020/10/16/17-00-43-046_1a78408fcc2d3edb.webp","sourceBytes":2655169,"destBytes":1844242,"targetWebpQuality":75,"feedId":5492,"totalSpendMs":17419,"convertSpendMs":15039,"createdTime":"2020-10-17 01:00:27","host":"us-029*","referer":"https://blog.cloudera.com/?p=138877","linkMd5ListStr":"a456b33292630ea42b87a0eea7ed1410","githubUser":"myreaderx27","githubHttpCode":201,"extra22GetBytesInfo":"1、没有Referer字段","extra23historyStatusCode":[200],"sourceSize":"2.5 MB","destSize":"1.8 MB","compressRate":"69.5%"}],"successGithubMap":{"myreaderx27":1,"myreaderx6":1,"myreaderx11":1,"myreaderx33":1,"myreaderx2":1,"myreaderx24":1,"myreaderx30":1,"myreaderx29":1,"myreaderx19":1},"failGithubMap":{"myreaderx14":1,"myreaderx23":1}}